<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
    {{- partial "image-modal.html"}}
    {{- partial "head.html" . -}}
    <script>bgColor = localStorage.getItem("bgColor");
document.body.style.backgroundColor = bgColor;</script>
    <body>
        {{- partial "header.html" . -}}
        <div id="content" class="container">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "term-index.html" . -}}
        {{- partial "analytics.html" . }}
    </body>
    {{- partial "scripts.html" . -}}
</html>
