<!-- Navbar
================================================== -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container" margin-right="0px">
            <!--<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></button>-->
                <a class="brand" href="{{ .Site.BaseURL }}">Home</a>
                <a class="brand" href="{{ "/tr" }}">Ana Sayfa</a>
            <script>if(document.documentElement.lang == "en"){document.getElementsByClassName("brand")[1].style.display = "none"}
            else {document.getElementsByClassName("brand")[0].style.display = "none"}</script>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        {{ if .HasChildren }}
                            <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                                <a href="#">
                                    {{ .Pre }}
                                    <span>{{ .Name }}</span>
                                </a>
                            </li>
                            <ul class="sub-menu">
                                {{ range .Children }}
                                    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                                        <a href="{{ .URL }}">{{ .Name }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                        {{ else }}
                            <li>
                                <a href="{{ .URL }}">
                                    {{ .Pre }}
                                    <span>{{ .Name }}</span>
                                </a>
                            </li>
                        {{ end }}
                    {{ end }}

            </div>
                            <!--   <ul class="nav" style="float: right; margin-right: -10px;">
                  {{ range .AllTranslations }}
                    <li><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
                  {{ end }}
                </ul>-->
                
<!--            <script language="JavaScript" type="javascript" src="{{ "js/jquery.js" | relURL }}">$(document).ready(function(){$('.nav-collapse').collapse("show");});</script>-->

<ul class="nav" style="float: right; margin-right: -10px;">
<li><a onclick="myFunction()" style="cursor:pointer">Dark</a></li>
<script> function myFunction() {
let bgColor;
if (document.body.style.backgroundColor  != "rgb(0, 0, 0)"){
localStorage.setItem("bgColor", "#000000");
}
else {
localStorage.setItem("bgColor", "#000084");
}
bgColor = localStorage.getItem("bgColor");
console.log(bgColor);
document.body.style.backgroundColor = bgColor;
} </script>
</ul>
        </div>
    </div>
</nav>
